{% extends "base.html" %} {% block content %}

<h2>Create Project</h2>

<div>
  {%for message in messages%} {%if message.tags == 'error'%}

  <div class="alert alert-danger" role="alert">{{message}}</div>
  {%else%}
  <div class="alert alert-success" role="alert">{{message}}</div>
  {%endif%} {%endfor%}
</div>

<form method="post" action="{% url 'add_new_project' %}">
  <div class="row">
    {% csrf_token %}
    <div>
      <label for="project_name" class="form-label"> Project name:</label>
      {{form.project_name}} {% if form.project_name.errors %}<span
        style="color: red"
        >{{ form.project_name.errors }}</span
      >{% endif %}
    </div>
    <div>
      <label for="description" class="form-label"> Description:</label>
      {{form.description}} {% if form.description.errors %}<span
        style="color: red"
        >{{ form.description.errors }}</span
      >{% endif %}
    </div>
    <div>
      <label for="start_date" class="form-label"> Start Date </label>
      {{form.start_date}} {% if form.start_date.errors %}<span
        style="color: red"
        >{{ form.start_date.errors }}</span
      >{% endif %}
    </div>
    <div>
      <label for="end_date" class="form-label"> End Date:</label>
      {{form.end_date}} {% if form.end_date.errors %}<span style="color: red"
        >{{ form.end_date.errors }}</span
      >{% endif %}
    </div>
  </div>

  <button type="submit">Create</button>
</form>

{% endblock %}
