{% extends "base.html" %} {% block content %}

<h2>Login</h2>

<div>
  {%for message in messages%} {%if message.tags == 'error'%}

  <div class="alert alert-danger" role="alert">{{message}}</div>
  {%else%}
  <div class="alert alert-success" role="alert">{{message}}</div>
  {%endif%} {%endfor%}
</div>

<form action="{% url 'login' %}" method="post">
  <div class="row">
    {%csrf_token%}
    <div>
      <label for="username" class="form-label">Username: </label>
      {{form.username}} {% if form.username.errors%}
      <span style="color: red"> {{form.username.errors}} </span>
      {% endif %}
    </div>

    <div>
      <label for="password" class="form-label">Password</label>
      {{form.password}} {% if form.password.errors %}
      <span style="color: red"> {{form.password.errors}} </span>
      {% endif %}
    </div>

    <button type="submit">Login</button>
  </div>
</form>
{% endblock %}
