{% extends "base.html" %} {%block content%}
<h1>User Profile</h1>

<div>
  {%for message in messages%} {%if message.tags == 'error'%}

  <div class="alert alert-danger" role="alert">{{message}}</div>
  {%else%}
  <div class="alert alert-success" role="alert">{{message}}</div>
  {%endif%} {%endfor%}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    {% comment %} {% for user in user_data %} {% endcomment %}
    <tr>
      <th scope="row">{{user_data.email}}</th>
      <td>{{user_data.first_name}}</td>
      <td>{{user_data.last_name}}</td>
      <td>{{user_data.username}}</td>
      <td>{{user_data.role}}</td>
    </tr>
    {% comment %} {%endfor%} {% endcomment %}
  </tbody>
</table>

{% endblock %}
